.block_forumdashboard_metricitem_content_value {
    text-align: right;
}

.block_forumdashboard_metricitem_content_value .block_forumdashboard_valuenumber {
    font-size: 3em;
}

.block_forumdashboard_metricitem_content_average {
    text-align: right;
    font-size: 0.8em;
}