{{!
  @template block_forumdashboard/block
}}
<div class="container-fluid block_forumdashboard_block">
  <div class="row">
    <label>
      {{#str}} viewsummaryof, block_forumdashboard {{/str}}
      <select class="block_forumdashboard_scopeselect form-control w-auto d-inline-block">
        <option value="0">{{#str}} entiresite, block_forumdashboard {{/str}}</option>
        {{#courses}}<option value="{{id}}">{{#str}} viewcourse, block_forumdashboard, {{fullname}} {{/str}}</option>{{/courses}}
      </select>
    </label>
  </div>
  <div class="row">
    {{{content}}}
  </div>
  {{#expandable}}<div class="row text-center">
    <button type="button" class="btn btn-secondary w-100 block_forumdashboard_expandbtn">{{#str}} viewmore, block_forumdashboard {{/str}}</button>
  </div>{{/expandable}}
</div>
